<tr class="credit_fields">
  <td><%= ff.text_field :project_title %></td>
  <td><%= ff.text_field :role %></td>
  <td><%= ff.text_field :company %></td>
  <td>
    <%= link_to_remove_fields "remove", ff %>       
  </td>
</tr>