
<div class="row">
  <div class="large-12 columns">
    <h3>Create Your Account</h3>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <label>Email
      <input type="text" />
    </label>
    <label>Password
      <input type="text" />
    </label>
    <label>First Name
      <input type="text"  />
    </label>
    <label>Last Name
      <input type="text"  />
    </label>
    <a href="#" class="button [radius round]">Sign Up</a>
  </div>
    
</div>


