/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

#footer{
    	height: 90px;
    	
    	line-height: 90px;
    	color: #aaa;
    	text-align: center;
    	width: 100%;
    	background-color: #3d3d3d;
}

.center {
	width: 238px;
	margin: 0 auto;
	display: inline-block;
	position: absolute;
   	left: 50%;
   	margin-left: -119px;
   	margin-right: -119px;

   	
}

.floatRight {
	display: inline-block;
	float: right;
	list-style-type: none;
	margin-right: 10em;	
	margin-bottom: 0;
}

.floatRight li {
	margin-left: 20px;
	font-size: 0.8em;
	margin-top: 8px;
	margin-bottom: 6px;
}


.tinyMargin {
	margin-right: 5px;
	display: inline-block;
}